body{
    background-image: linear-gradient(to right, #16002f , #170000);
}

#heading{
    margin-top: 0px;
    text-align: center;
}

#container {
  margin: 200px auto;
  height: 400px;
  width: 400px;
  padding: 10px 10px;
  border: 4px solid rgb(4, 0, 53);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
 
}

#result{
    height: 60px;
    width: 400px;
    border-bottom: 4px solid rgb(0, 0, 62);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    margin-bottom: 60px;
}



/* working for input length */
#inputLength{
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: oblique;
    color: #4c002a;
    
}

#inNum{
    width: 40px;
    font-size: 20px;
    border: 2px solid #4c002a;
    border-radius: 6px ;

}


#btnGen {
    margin-top: 60px;
    margin-left: 35%;
    margin-right: 35%;
    background: linear-gradient(-30deg, #4c002a 50%, #230000 50%);
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 15px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
            
  }

  #btnClr {
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    background: linear-gradient(-30deg, #00086e 50%, #000c41 50%);
    border-radius: 20px;
    padding: 5px 10px;
    /* margin: 12px; */
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 15px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
            
  }

  










